<%= form_with(url: session_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div class="actions">
    <%= form.submit "Login" %>
  </div>
<% end %>