<div class="navbar">
    <%= link_to "Home", root_path, class: ("nav-link active" if current_page?(root_path)) %>
    <%= link_to "Work", work_index_path,  class: ("nav-link active" if current_page?(work_index_path)) %>
    <%= link_to "Education", education_index_path, class: ("nav-link active" if current_page?(education_index_path)) %>
    <%= link_to "Diary", dairy_index_path, class: ("nav-link active" if current_page?(dairy_index_path)) %>
    <%= link_to "Tech", tech_index_path, class: ("nav-link active" if current_page?(tech_index_path)) %>
    <% if authenticated? %>
        <%= link_to "logout", logout_path, data: { "turbo-method": :delete } %>
    <% end %>
</div>