<div id="popup-<%= post[:id] %>" class="popup" data-post-id="<%= post[:id] %>">
    <div class="popup-content">
        <div class="popup-heading">
          <div class='blog-title'>
            <%= post[:title] %>
            <% if post[:url].present? %>
              <a class="link_to" target="_blank" href="<%= post[:url] %>">(<%= post[:category] %>)</a>
            <% end %>
            <% if authenticated? %>
              (<u><%= link_to 'edit', edit_post_path(post), class: 'edit-button' %></u>)
            <% end %>
          </div>
          <div class="close">&times;</div>
        </div>
        <div class="blog-content">
          <%= raw post[:content] %>
          <%= raw post[:embed] %>
        </div>
    </div>
</div>