<div class="image-grid">
  <div class="image image-1-2x1">
    <img src="<%= asset_path('home_page/black_and_white/paris-seating-blurred-2.jpg') %>" alt="Paris">
  </div>
  <div class="image image-2-3x1">
    <img src="<%= asset_path('home_page/black_and_white/paris-speaking.jpg') %>" alt="Paris">
  </div>
  <div class="image image-3-1x1">
    <img src="<%= asset_path('home_page/black_and_white/saas-north-id.jpg') %>" alt="Saas north">
  </div>
  <div class="image image-4-1x1">
    <img src="<%= asset_path('home_page/black_and_white/covocation-stage-walk.jpg') %>" alt="Convocation">
  </div>
  <div class="image image-5-2x1">
    <img src="<%= asset_path('home_page/black_and_white/meditate-img.jpg') %>" alt="Convocation">
  </div>
</div>