<div class='tech-stack-icon-div'>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/icons/rails-icon.png') %>" alt="Rails">
    </div>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/icons/ruby-icon.png') %>" alt="Ruby">
    </div>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/icons/html-icon.jpg') %>" alt="HTML">
        <img src="<%= asset_path('home_page/icons/css-icon.jpg') %>" alt="CSS">
        <img src="<%= asset_path('home_page/icons/js-icon-2.jpg') %>" style="border-radius: 5px" alt="JS">
    </div>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/icons/react-icon.png') %>" alt="React" class="react-icon-lg">
        <img src="<%= asset_path('home_page/icons/react-icon-mobile.png') %>" alt="React" class="react-icon-sm">
    </div>
</div>