<div class='tech-stack-icon-div'>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/rails-icon.png') %>" alt="Rails">
    </div>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/ruby-icon.png') %>" alt="Ruby">
    </div>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/html-icon.png') %>" alt="HTML">
        <img src="<%= asset_path('home_page/css-icon.png') %>" alt="CSS">
        <img src="<%= asset_path('home_page/js-icon-2.png') %>" style="border-radius: 5px" alt="JS">
    </div>
    <div class="card tech-stack-card">
        <img src="<%= asset_path('home_page/react-icon.png') %>" alt="React" class="react-icon-lg">
        <img src="<%= asset_path('home_page/react-icon-mobile.png') %>" alt="React" class="react-icon-sm">
    </div>
</div>