<div class='home-page'>
    <p>I'm a seeker, who's on a quest for truth, 
    constantly striving to evolve and explore the deeper 
    dimensions of my being, beyond the ephemeral. 
    <%= link_to 'Follow my personal journey of evolution', dairy_index_path, class: 'link_to' %>
    <i class="fas fa-arrow-right"></i> 
    </p>
    
    <%= render 'image_grid' %>
    
    <p>Professionally, I am drawn to the art of creation, 
    which manifests in my role as a 
    <%=link_to 'software developer', work_index_path, class: 'link_to' %>. 
    I am good at organizing and I have a keen sense of prioritizing 
    my time and efforts—skills that have also propelled me into 
    <%=link_to 'managing projects', work_index_path, class: 'link_to' %>.
    I also enjoy studying how people think, behave and interact-a skill that enables me to
    <%=link_to 'design solutions', work_index_path, class: 'link_to' %>.
    </p>
    
    <div class='home-tech-post-div'>
        <%= render '/blog/card' %>
        <div>
            <i class="fas fa-arrow-right"></i>
            <%=link_to 'See all tech posts', tech_index_path, class: 'link_to' %>
        </div>
    </div>

    <p>
        I prefer not to limit myself to just one profession; 
        I often engage in multiple tasks that are completely different 
        but necessary for the job. I fundamentally believe that having 
        the right mindset is essential for producing exceptional work in any field.
    </p>
    <div>
        <p>Technically, I work best with Ruby on rails, React, Plain JS & (S)CSS</p>
        <%= render 'tech_stack'%>
    </div>

    <div class='follow-me'>
        <i class="fas fa-arrow-right"></i> 
        <a href="https://www.linkedin.com/in/rushipatel-" target="_blank">Connect with me on <i class="fab fa-linkedin"></i></a>
    </div>
</div>
