<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class='hey-im-rushi'>
      <div class='hey-im-rushi-animated-div'>
        <% "Hey, I'm Rushi Patel".split('').each do |char| %>
          <% if char == ' ' %>
            <span class="space"><%= char %></span>
          <% else %>
            <span><%= char %></span>
          <% end %>
        <% end %>
      </div>
      <i class="fas fa-hand-peace"></i>
    </h1>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
