<!DOCTYPE html>
<html>
  <head>
    <title>Rushi Patel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

  <body>
    <% if current_page?(root_url)%>
      <div class='hey-im-rushi'>
        Hey, I'm Rushi Patel 
        <i class="fas fa-hand-peace"></i>
        <%# <i class="fas fa-hand-spock"></i> %>
      </div>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
